body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.gameBox {
  text-align: center;
}
.scoreBox {
  margin-bottom: 20px;
  font-size: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  background: rgb(172, 159, 135);
  padding: 10px;
  border-radius: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
}

.tile {
  width: 100px;
  height: 100px;
  background: #cdc1b4;
  font-size: 24px;
  color: #776e65;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
